* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
}
nav {
  height: 14vh;
  width: 100%;
  background-color: white;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 2vw 4vw;
  justify-content: space-between;
  background-color: white;
  z-index: 99;
}
#nav-part1 {
  display: flex;
  align-items: center;
  gap: 1vw;
}
#nav-part1 img {
  height: 3vw;
}
#nav-part1 h1 {
  font-family: CamphorW04-Light;
  color: #00754A;
  font-size: 2vw;
}
#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5vw;
}
#nav-part2 a {
  text-decoration: none;
  font-family: sans-serif;
  color: black;
  font-weight: 400;
  font-size: 1.5vw;
  position: relative;
}

#nav-part2 a::before {
  content: "";
  width: 0;
  height: 2px;
  background:black;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.3s;
}

#nav-part2 a:hover::before {
  width: 100%;
}

#nav-part3 h2:hover {
  color: #00754A;
}
#nav-part3 i:hover {
  color: #00754A;
}

#nav-part3 {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 2vw;
}
#nav-part3 input{
  padding: 2vh 10vh;
  border-radius: 2vw;
  border: none;
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.2);
  font-size: 1vw;
}
#nav-part3 i {
  font-size: 1.6vw;
}
#nav-part3 h2 {
  font-family: sans-serif;
  font-weight: 300;

  font-size: 1.5vw;
}

#nav-bottom {
  height: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 14%;
  gap: 2vw;
  transition: all ease 0.5s;
  border-bottom: 2px solid white;
  position: fixed;
  z-index: 99;
}
#nav-bottom .box1 {
  height: 50vh;
  width: 23%;
  /* background-color: yellow; */
  display: none; /* Initially hidden */
  border-radius: 14px;
}
#nav-bottom .box1 img {
  border-radius: 14px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

body{
  overflow-x: hidden;
}

#page11{
  min-height: 100vh;
  width: 100vw;
 background-color: #006241;

  padding: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation-name: move1;
  animation-duration: 1S;
  animation-iteration-count: infinite;
}

#page11 img{
  height: 80vh;
  position: absolute;
  left: 1%;

}
#page11 #ig{
  height: 90vh;
  position: absolute;
  left: 75%;
}
.text{
  width: 65%;
  border-bottom: 2px solid rgb(248, 246, 246);
  position: relative;
  overflow: hidden;
}
.text h1{
  font-size: 10vw;
  font-weight: 800;
  color: aliceblue;
  text-align: center;
  font-family: Gilroy;
}
#page11 h1 span{
  display: inline-block;
}

@keyframes move1 {
  from {
    top:0%
  }
  to {
    top:-100%
  }
}





#page1 {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(211, 97, 97); */
  display: flex;
  align-items: center;
  justify-content: center;


}

#page1 video {
  /* border: 2px solid #ff6900; */
  height: 80vh;
  width: 80%;
  border-radius: 20px;
  margin-top: 6%;
  object-fit: cover;
  transition: all ease 0.5s;
}
#page1 video:hover {
  width: 90%;
}

#page2 {
  display: flex;
  overflow: hidden;
  height: 15vw;
  background-color: white;
}
#page2 .move {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  animation-name: move;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#page2 .move img {
  height: 8vw;
  margin: 0 1vw;
  transition: all ease 0.2s;
  padding: 1vw;
  border-radius: 10vh;
}

#blur-left{
  height: 34%;
  width: 10%;
  z-index: 2;
  position: absolute;
  background: linear-gradient(to right,white,transparent);
  
}
#blur-right{
  height: 34%;
  width: 10%;
  z-index: 2;
  position: absolute;
  right: 0;
  background: linear-gradient(to right,transparent,white);
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* #page3{
  height: 30vh;
  width: 100%;
  background-color: rgba(229, 241, 245, 0.726);
  white-space: nowrap;
}
body{
  overflow-x: hidden;
}
#page3 h3{
  font-size: 10vw;
  font-family: CamphorW04-Light;
  text-transform: uppercase;
  color: #ff6900;
}
#page3 h3 span{
  color: white;
} */

div h5 {
  padding: 1vw 0;
  font-family: CamphorW04-Light;
  color:#00754A;

  font-size: 3vw;
  text-align: center;
}

#page3 {
  height: 150vh;
  width: 100%;
  /* background-color: rgb(63, 58, 58); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4vw;
  position: relative;
  overflow-x: hidden;
}

#page3 .card {
  height: 12vw;
  width: 70%;
  border-radius: 1vw;
  overflow: hidden;
  transition: all ease 0.5s;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.568);
}
#page3 .card img {
  border-radius: 1vw;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
}
#page3 .card:hover img {
  transform: scale(1.1);
}
#page3 .card:hover {
  scale: 1.07;
}
#page3 .card article {
  position: absolute;
  z-index: 2;
  padding: 1.7vw 3vw;
}
#page3 .card article button {
  padding: 0.3vw 2vw;
  position: relative;
  border: 1.5px solid #191919;
  border-radius: 10px;
  font-family: CamphorW04-Light;
  margin-top: 2vw;
  font-size: 1.2vw;
  font-weight: 900;
}
#page3 .card article h1 {
  font-family: CamphorW04-Light;
  font-size: 20px;
  color: white;
  /* color: #00754A; */
}
#page3 .card article img{
  position: absolute;
  height:   150px;
  width: 150px;
  right:-160%;
  top: 20%;
}

#page3 .card {
  position: relative;
}

#page3 .card article button {
  position: relative;
  overflow: hidden;
  z-index: 9;
}

#page3 .card article button::after {
  content: "";
  height: 0%;
  width: 100%;
  background-color: #00754A;
  position: absolute;
  left: 0%;
  top: 110%;
  transition: all ease 0.5s;
  z-index: -1;
}

#page3 .card article button:hover::after {
  height: 100%;
  top: 0;
  scale: 1;
}
#page3 .card article button:hover {
  border: 1.5px solid #00754A;
  color: white;
}
#page3 #card4 article img{
  position: absolute;
  right: -280%;
}
#page3 #card3 article img{
  position: absolute;
  right: -220%;
}
#page3 .card article h1 span {
  font-size: 1vw;
  width: 1px;
  color: rgb(75, 75, 75);
}
#page4 {
  height: 80vh;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 1vw;
  overflow-x: hidden;
  
}
#page4 #box {
  height: 85vh;
  width: 80%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin-top: 2vw;
}

#page4 #box .box1 {
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.319);

  height: 65vh;
  width: 25%;
  background-color: white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border-radius: 1vw;
  position: relative;
  transition: all ease 0.5s;
}
#page4 #box .box1:hover {
  scale: 1.05;
}
#page4 #box .box1 img {
  height: 80%;
  width: 300px;
  object-fit: cover;
}
#page4 #box .box1 button {
  padding: 0.3vw 1.2vw;
  position: absolute;
  left: 0;
  margin: 0.7vw 1vw;
  color: #00754A;
  border: 1px solid #00754A;
  border-radius: 0.4vw;
  background-color: #ff6a001d;
}
#page4 #box .box1 h3 {
  position: absolute;
  font-family: CamphorW04-Light;
  top: 70%;
  font-size: 1.5vw;
  color: #8e8e91;
  /* left: 10%; */
}
#page4 #box .box1 h3 span {
  font-size: 1vw;
  color: black;
}
#page4 #box .box1 #btn {
  padding: 0.4vw 5vw;
  position: absolute;
  bottom: 0;
  margin: 0.7vw 1vw;
  color: #00754A;
  border: 1px solid #00754A;
  border-radius: 0.4vw;
  background-color: #ff6a001d;
  left: 1.4vw;
  z-index: 9;
  overflow: hidden;
}

#page4 #box .box1 #btn::after {
  transition: all ease 0.5s;
  content: "";
  height: 100%;
  width: 100%;
  /* background-color: rgb(0, 4, 255); */
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
}
#page4 #box .box1 #btn:hover::after {
  background-color: #00754A;
  top: 0%;
}
#page4 #box .box1 #btn:hover {
  color: white;
}
#page5 {
  height: 100vh;
  width: 100%;
  /* background-color: rgb(28, 142, 180); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}


#page5 #box {
  height: 85vh;
  width: 80%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  
  
}
/* nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */

#page5 #box .box1 {
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.319);

  height: 65vh;
  width: 25%;
  background-color: white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border-radius: 1vw;
  position: relative;
  transition: all ease 0.5s;
}
#page5 #box .box1:hover {
  scale: 1.05;
}
#page5 #box .box1 img {
  height: 45vh;
  width: 30vw;
  object-fit: cover;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}
#page5 #box .box1 button {
  padding: 0.3vw 1.2vw;
  position: absolute;
  left: 0;
  margin: 0.7vw 1vw;
  color: #00754A;
  border: 1px solid #00754A;
  border-radius: 0.4vw;
  background-color: #ff6a001d;
}
#page5 #box .box1 h3 {
  position: absolute;
  font-family: CamphorW04-Light;
  top: 70%;
  font-size: 1.5vw;
  color: #8e8e91;
  /* left: 10%; */
}
#page5 #box .box1 h3 span {
  font-size: 1vw;
  color: black;
}
#page5 #box .box1 #btn {
  padding: 0.4vw 5vw;
  position: absolute;
  bottom: 0;
  margin: 0.7vw 1vw;
  color: #00754A;
  border: 1px solid #00754A;
  border-radius: 0.4vw;
  background-color: #ff6a001d;
  left: 1.4vw;
  z-index: 9;
  overflow: hidden;
}

#page5 #box .box1 #btn::after {
  transition: all ease 0.5s;
  content: "";
  height: 100%;
  width: 100%;
  /* background-color: rgb(0, 4, 255); */
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
}
#page5 #box .box1 #btn:hover::after {
  background-color: #00754A;
  top: 0%;
}
#page5 #box .box1 #btn:hover {
  color: white;
}

#page6 {
  height: 120vh;
  width: 100%;
  background-color: #191919;
  /* align-items: top 6vh; */
  display: flex;
  justify-content: center;
  padding: 4vw 2vw;
}
.footer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 10vw;
  /* align-items: flex-start; */
}
.footer-part1 {
  display: flex;
  gap: 4vw;
  margin-left: 2vw;
}
.footer-part1 h1 {
  color: white;
  font-family: CamphorW04-Light;
  font-size: 1.5vw;
}
.footer-part2 {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.footer-part2 h2 {
  color: white;
  font-family: CamphorW04-Light;
  font-size: 1.5vw;
}

.footer-part2 i {
  color: white;
  font-size: 2vw;
  margin-left: 1.3vw;
}
.footer-part2 article {
  margin-left: -1vw;
}
.footer-part2 h3 {
  color: white;
  font-family: CamphorW04-Light;
  font-size: 1.5vw;
}
.footer-part2 input {
  padding: 0.8vw 6vw;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.8vw;
  font-size: 1.2vw;
}
.footer-part2 div {
  height: 40vh;
  width: 100%;
  background-color: transparent;
  border-radius: 1vw;
  /* display: flex; */
  justify-content: center;
  padding: 2vw 2vw;
  position: relative;
  border: 1px solid white;
}
.footer-part2 div img {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: 1vw;
}
.footer-part2 div h6 {
  position: absolute;
  top: 10%;
  font-size: 1.5vw;
  left: 40%;
  color: white;
  font-family: CamphorW04-Light;
}
.footer-part2 div h6 span {
  color: #4e4d4d;
  font-size: 1.1vw;
}
.footer-part2 div hr {
  /* height: 0vh; */
  width: 100%;
  margin-top: 1vw;
  position: absolute;
  left: 0%;
}
.footer-part2 div #ig {
  height: 60px;
  width: 60px;
  object-fit: cover;
  margin-top: 35%;
  position: absolute;
  left: 11%;
}
.footer-part2 div a {
  color: white;
  top: 13vw;
  position: absolute;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 1.4vw;
}
.footer-elem h3 {
  margin-top: 0.6vw;
  transition: all ease 0.4s;
}
.footer-elem h1 {
  transition: all ease 0.4s;
}

.footer-elem h3 span {
  /* background-color: red; */
  font-size: 1vw;
  margin-top: 6vw;
  font-family: CamphorW04-Light;
  color: #4e4d4d;
}
.footer-elem h3 span:hover {
  color: white;
}
.footer-elem h3:hover {
  scale: 1.09;
}
.footer-elem h1:hover {
  scale: 1.09;
}
#page7 {
  height: 20vh;
  width: 91%;
  border-top: 1px solid white;
  /* background-color: white; */
  position: absolute;
  margin-top: -10vw;
  text-align: center;
  left: 5vw;
  display: flex;
  justify-content: space-between;
}
#page7 h1 {
  font-size: 1.2vw;
  padding: 2vw 0;
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}
#page7 h1 span {
  margin-left: 2vw;
}
#page7 .p2 {
  display: flex;
  gap: 1vw;
  /* align-items: center; */
  justify-content: center;
  padding: 2vw 0;
}
#page7 .p2 h2 {
  color: white;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.2vw;
}
#page7 .p2 i {
  color: white;
}

@media (max-width: 930px) {
  #page4 #box .box1 img {


    height: 20vh;
    width: 15%;
    
  }
  #page4 #box .box1 {


    height: 35vh;
    /* width: 15%; */
    
  }
  #page4 #box .box1 button {
    padding: 0.1vw 1vw;
    position: absolute;
    left: 0;
    margin: 0.7vw 1vw;
    color: #00754A;
    font-size: 1vw;
    flex-direction: column;
  }
  
}
@media (max-width: 930px) {
  #page5 #box .box1 img {


    height: 20vh;
    width: 15%;
    
  }
  #page5 #box .box1 {


    height: 35vh;
    /* width: 15%; */
    
  }
  #page5 #box .box1 button {
    padding: 0.1vw 1vw;
    position: absolute;
    left: 0;
    margin: 0.7vw 1vw;
    color: #00754A;
    font-size: 1vw;
    flex-direction: column;
  }
}


@media (max-width: 930px) {
  div{
    height: 0vh;
  }


  #page3 .card {
    height: 70vw;
    width: 70%;
    border-radius: 1vw;

  }
  
  
 
}






























